body {
  padding-top: 5rem;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#d8d8d8;
  height: 1px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.formCard {
  width: 96%;
  max-width: 500px;
  border-radius: 0 !important;
  border: 1px solid #d8d8d8!important;
}

.resultsCard {
  width: 96%;
  max-width: 1000px;
  border-radius: 0 !important;
  border: 1px solid #d8d8d8!important;
}

.resultsContainer {
  padding: .5rem;
}

.formCard ::placeholder {
  font-size: .9rem;
}

.formCard .form-label {
  font-size: 1rem;
}

.formCard .addButton {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

.formCard .removeButton {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

.lbShort {
  padding-left: .2rem;
  padding-right: .2rem;
  text-align: center;
}

.resultItem {
  border: 1px solid #343a40;
  padding: .5rem !important;
}

.paginatorContainer {
  padding: .8rem;
}

.pagination {
  margin: 0;
  align-items: center;
  justify-content: center;
}

.pagination li a {
  color: #343a40;
}

.page-item.active .page-link {
  background-color: #343a40;
  border-color: #343a40;
}

.page-link:hover {
  color: #343a40; 
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(52,58,64,.25);
}

.sortOrderImg {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
